# Ignore .github directory
.github/

# Ignore references directory
references/

# Ignore tests directory
tests/

# Ignore the virtual environment directory
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

